* {
  font-weight: bolder;
}

.calculatorContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  width: 500px;
  height: 500px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.operatorSection {
  background-color: pink;
  grid-area: 2 / 2/  6 / 3;
  display: grid;
}

.operandSection {
  background-color: cyan;
  grid-area: 2/1/6/2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.outputDisplay {
  background-color: #858693;
  color: white;
  grid-column: span 4;
  grid-row: 1/2;
  text-align: right;
  padding-top: 20px;
  padding-right: 5px;
  letter-spacing: 2px;
}

.digit,
.operator,
.outputDisplay {
  border: 1px solid #d1d1d1;
}

.operator {
  background-color: #f39148;
}

.operator:hover {
  background-color: #f39128;
}

.digit {
  background-color: #e0e0e0;
}

.digit:hover {
  background-color: #c0c0c0;
}

.zero {
  grid-column: 1/3;
  grid-row: 5/6;
}

button {
  cursor: pointer;
}

button:hover {
  border: 1px solid #a1a1a1;
}
